.App {
  text-align: center;
}

html {
  background-image: url(https://pbs.twimg.com/media/EUF6KQuU0AA76xc?format=jpg&name=large);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.box {
  background-color: tan;
  width: 400px;
  height: 440px;
  border-radius: 10%;
}
#characterImg {
  max-width: 350px;
}

#logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}

#logo {
  width: 300px;
  margin-left: 100px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}